server {
  server_name {{phabricator_domain_name}} {{phabricator_file_domain_name}};
  root        {{phabricator_path}}/phabricator/webroot;

  client_max_body_size 32m;

  location / {
    index index.php;
    rewrite ^/(.*)$ /index.php?__path__=/$1 last;
  }

  location = /favicon.ico {
    try_files $uri =204;
  }

  location /index.php {
    include conf.d/php.conf;
  }
}